<template>
  <div class="app">
    <div class="app-content">
      <div class="app-header bg-dark text-white px-3 py-2">
        <h1 class="text-center">Google Keep</h1>
      </div>
      <div class="app-main d-flex">
        <div class="app-sidebar bg-light min-w-250px flex-shrink-0">
          <ul class="nav flex-column">
            <li class="nav-item">
              <router-link to="/" class="nav-link">Notas</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/ArchivadasView" class="nav-link"
                >Archivadas</router-link
              >
            </li>
          </ul>
        </div>
        <div class="app-body flex-grow-1">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

