<template>
  <div>
    <h1>Pantalla de Archivadas</h1>
    <div v-if="notaArchivada.length">
      <h6>Notas:</h6>
      <div class="notas-container">
        <div v-for="nota in notaArchivada" :key="nota.id" class="nota">
          <div class="nota-content">
            <p class="nota-titulo">{{ nota.titulo }}</p>
            <p class="nota-contenido">{{ nota.contenido }}</p>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <p>No hay notas disponibles.</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      notaArchivada: [],
    };
  },
  created() {
    this.cargarNotasArchivadas();
  },
  methods: {
    cargarNotasArchivadas() {
      axios
        .get("http://127.0.0.1:8000/api/v1/notes")
        .then((response) => {
          this.notaArchivada = response.data.data.filter(
            (nota) => nota.archivada === 1
          );
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
};
</script>
