<template>
  <div class="app-contenido">
    <div class="container custom-container mx-auto text-center">
      <form @submit.prevent="crearNota" class="form-center">
        <div class="form-group">
          <label for="tituloNota">Título de la nota:</label>
          <input
            type="text"
            id="tituloNota"
            v-model="tituloNota"
            class="form-control mb-3"
          />
        </div>
        <div class="form-group">
          <label for="contenidoNota">Contenido de la nota:</label>
          <input
            type="text"
            id="contenidoNota"
            v-model="nuevaNota"
            class="form-control mb-3"
          />
        </div>
        <button type="submit" class="btn btn-primary">Crear nota</button>
      </form>
    </div>
    <div v-if="notas.length">
      <h6>Notas:</h6>
      <div class="notas-container">
        <div
          v-for="nota in notas"
          :key="nota.id"
          class="nota"
          :style="{ border: nota.fijada ? '2px solid black' : '' }"
          @click="mostrarModal(nota)"
        >
          <div class="nota-content">
            <p class="nota-titulo">{{ nota.titulo }}</p>
            <p class="nota-contenido">{{ nota.contenido }}</p>
          </div>
          <div class="nota-actions d-flex justify-content-between">
            <button @click.stop="archivarNota(nota.id)" class="btn btn-warning">
              Archivar
            </button>
            <button @click.stop="fijarNota(nota.id)" class="btn btn-dark">
              Fijar
            </button>
            <button @click.stop="editarNota(nota.id)" class="btn btn-success">
              Editar
            </button>
            <button @click.stop="eliminarNota(nota.id)" class="btn btn-danger">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <p>No hay notas disponibles.</p>
    </div>
    <div v-if="notaSeleccionada" class="modal" @click="cerrarModal">
      <div class="modal-content" :style="getModalContentStyle()" @click.stop>
        <span class="close" @click="cerrarModal">&times;</span>
        <h2>{{ notaSeleccionada.titulo }}</h2>
        <p>{{ notaSeleccionada.contenido }}</p>
      </div>
    </div>
    <div v-if="modoEdicion" class="modal" @click="cerrarModal">
      <div class="modal-content" :style="getModalContentStyle()" @click.stop>
        <span class="close" @click="cerrarModal">&times;</span>
        <h2>Editar nota</h2>
        <div class="form-group">
          <label for="editarTitulo">Título:</label>
          <input
            type="text"
            id="editarTitulo"
            v-model="notaSeleccionada.titulo"
            class="form-control mb-3"
          />
        </div>
        <div class="form-group">
          <label for="editarContenido">Contenido:</label>
          <input
            type="text"
            id="editarContenido"
            v-model="notaSeleccionada.contenido"
            class="form-control mb-3"
          />
        </div>
        <button @click.stop="guardarEdicion" class="btn btn-primary">
          Guardar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      nuevaNota: "",
      tituloNota: "",
      notas: [],
      notaSeleccionada: null,
      modoEdicion: false,
      colorBordeFijada: "black",
      notasNoArchivadas: [],
    };
  },
  created() {
    this.cargarNotas();
  },
  computed: {
    notasOrdenadas() {
      const notasMarcadas = this.notas.filter((nota) => nota.fijada);
      const notasNoMarcadas = this.notas.filter((nota) => !nota.fijada);
      return notasMarcadas.concat(notasNoMarcadas);
    },
  },
  methods: {
    async cargarNotas() {
      try {
        const response = await axios.get("http://127.0.0.1:8000/api/v1/notes");
        const todasLasNotas = response.data.data;
        const notasMarcadas = todasLasNotas.filter(
          (nota) => nota.fijada && nota.archivada !== 1
        );
        const notasNoMarcadas = todasLasNotas.filter(
          (nota) => !nota.fijada && nota.archivada !== 1
        );
        this.notas = notasMarcadas.concat(notasNoMarcadas);
      } catch (error) {
        console.error(error);
      }
    },

    async crearNota() {
      if (this.nuevaNota.trim() !== "") {
        const nota = {
          titulo: this.tituloNota,
          contenido: this.nuevaNota,
        };
        try {
          const response = await axios.post(
            "http://127.0.0.1:8000/api/v1/notes",
            nota
          );
          this.notas.push(response.data);
        } catch (error) {
          console.error(error);
        } finally {
          this.nuevaNota = "";
          this.tituloNota = "";
        }
      }
    },

    async fijarNota(id) {
      const notaFijada = this.notas.find((nota) => nota.id === id);
      if (notaFijada) {
        const nuevoEstadoFijada = notaFijada.fijada === 1 ? 0 : 1; 
        try {
          const response = await axios.put(
            `http://127.0.0.1:8000/api/v1/notes/${id}`,
            { fijada: nuevoEstadoFijada }
          );
          notaFijada.fijada = response.data.fijada;
          notaFijada.colorBorde =
            notaFijada.fijada === 1 ? this.colorBordeFijada : ""; 
        } catch (error) {
          console.error(error);
        }
      }
    },

    editarNota(id) {
      this.notaSeleccionada = this.notas.find((nota) => nota.id === id);
      this.modoEdicion = true;
    },
    guardarEdicion() {
      axios
        .put(
          `http://127.0.0.1:8000/api/v1/notes/${this.notaSeleccionada.id}`,
          this.notaSeleccionada
        )
        .then((response) => {
          const index = this.notas.findIndex(
            (nota) => nota.id === response.data.id
          );
          if (index !== -1) this.notas.splice(index, 1, response.data);
          this.cerrarModal();
        })
        .catch((error) => console.error(error));
    },

    archivarNota(id) {
      axios
        .put(`http://127.0.0.1:8000/api/v1/notes/${id}`, { archivada: 1 })
        .then((response) => {
          this.notas = this.notas.filter((nota) => nota.id !== id);
        })
        .catch((error) => {
          console.error(error);
        });
    },

    eliminarNota(id) {
      axios
        .delete(`http://127.0.0.1:8000/api/v1/notes/${id}`)
        .then(() => {
          this.notas = this.notas.filter((nota) => nota.id !== id);
        })
        .catch((error) => {
          console.error(error);
        });
    },

    mostrarModal(nota) {
      this.notaSeleccionada = nota;
    },
    cerrarModal() {
      this.notaSeleccionada = null;
      this.modoEdicion = false;
    },
    getModalContentStyle() {},
  },
};
</script>

<style global>
.modal {
  align-items: center;
  background-color: #00000080;
  display: block;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: white;
  max-height: 36rem;
  max-width: 50rem;
  overflow-x: auto;
  padding: 20px;
}

.modal-content p {
  font-size: 1.5rem;
}

.modal-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.close {
  color: #aaa;
  cursor: pointer;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  justify-content: end;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
</style>

