// app global css in SCSS form


.app-contenido {
  padding: 10px;
  width: 100%;
}

.notas-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.nota {
  background-color: $background-nota;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
}

.nota-content {
  height: 5rem;
  overflow: hidden;
}
.nota-titulo {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-header {
  height: 60px;
}

.app-main {
  display: flex;
  flex: 1;
}

.app-sidebar {
  min-width: 250px;
}

.app-body {
  flex-grow: 1;
}

