<template>
  <router-view />
</template>

<script>
import { defineComponent } from "vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap/dist/js/bootstrap.js";
import "src/css/app.scss";
export default {
  name: "App",
};
</script>
